*{
	margin:0px;
	padding:0px;

}
img,input {
 outline: none;
 vertical-align: middle;
 border: 0;
}
body {
 font-size: 12px;
 font-family: "微软雅黑";
 color: #999;
 background-color: #f6f6f6;
}
a {
 text-decoration: none;
 color: #999;
}
li {
 list-style: none;
}
.w {
 width: 1190px;
 margin: 0 auto;
}